$primary1-color: #64dd17;
$secondary1-color: #1FAA00;

$primary2-color:#455A64;
$secondary2-color:#bdbdbd;
$black: #000;

$navbar-light-color: $primary1-color;
$navbar-light-color: $black;
$navbar-light-hover-color: $black;
$navbar-light-active-color: $black;
$navbar-light-disabled-color: $black;
$navbar-light-toggler-border-color: $black;
$body-bg: #E1E2E1;

$shadow: 1px 3px 3px #9a9a9a;
$shadow-hover: 3px 6px 3px #9a9a9a;

$brand-primary: #006400;
$theme-colors:();
$theme-colors: map-merge((
        "primary":    $primary1-color,
        "secondary":  $primary2-color,
        "success":    $primary1-color,
        "info":       $primary1-color,
        "warning":    $primary2-color,
        "danger":     $secondary2-color,
        "light":      $primary1-color,
        "dark":       $primary1-color
), $theme-colors);
